#navbar{
    height: 100px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    background-color:orangered;
    display: flex;
    justify-content: end;
}
.anchor{
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 10%;
    margin-top: 2%;
    font-weight: 800;
}
body{
   background-color: khaki;
    
}
#searchspc{
    margin-top: 2%;
   margin-left: 20%;
   width: 50%;
   height: 30px;
   border-radius: 5px;
   font-size: 20px;
   
}
#welcome{
   margin-top: 2%;
   margin-left: 40%;
}
#serbut{
    width: 5%;
   height: 35px;
   border-radius: 5px;
   font-size: 20px;
}
#mealbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#mealimg{
    height: 50%;
    width: 100%;
}
#cardbox{
    border: 1px solid;
    height: 200px;
    width: 10%;
    margin-top: 3%;
}
#fofday{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}